%% test options
{cover_enabled, true}.

%% xref options
{xref_warnings, true}.
{xref_checks, [undefined_function_calls]}.

%% compiler options
{erl_opts, [
	debug_info, 
	fail_on_warning
]}.

%% deps list
{deps, [
	{pal_oauth2, ".*", {git, "git://github.com/manifest/pal-oauth2.git", {tag, "v0.2.0"}}}
]}.

